/* LEFT SIDE */
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.contactItem:hover{
  background-color: rgb(58 77 97) !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

button{
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(119, 118, 118);
  outline: 0px solid rgb(205, 205, 206);
}

#black{
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;top: 0;left: 0;right: 0;bottom: 0;
}
.header{
  height: 100px;
}
.winModal{
  width: 340px;
  height: 500px;
  background-color: white;
  margin: 67px auto;
  display: flex;
  border-radius: 4px;
  flex-direction: column;

}
.winMenu{
  
}
.tabName{
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 8px;
  cursor: pointer;
} 
.tabName:hover{
  background-color: rgba(0, 0, 0, 0.03);
  
} 
.winModalTitle{
  flex:1;
  /* border:solid 1px blue; */
  border-bottom: solid 1px silver;

}

.winModalTitle p{
text-align: center;
width: 100%;
}
.winModalContainer{
  flex: 11;
  /* border:solid 1px red; */
  overflow: hidden;
}
.tab{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

/* RIGHT SIDE  */


.socialNetworkIcon{
  margin-left: 15px;
  color:#2c3e50;
  cursor:pointer;

}

.bi-facebook:hover{
  color:#3b5998;
  transition: color 150ms ease-in;

}
.bi-instagram:hover{
  color: #bc2a8d;
  transition: color 150ms ease-in;

}
.bi-twitter:hover{  
  color: #1DA1F2;
  transition: color 150ms ease-in;
}


.multimediaIcons{
  margin-right: 15px;
  color:#2c3e50;
  cursor:pointer;

}
.multimediaIcons:hover{
  color:#ff6347;
  transition: color 150ms ease-in;

}


